*.patch
*.gz
*.iml
*.pyc
*.rdb
*.sublime*
*.swp
*.swo
*.ts.spec.js
*.spec.ts.js

.DS_Store
.idea
.sauce
.sonar
.tmp
.bower-cache
.bower-registry
.e2e-fail-retry
.oauth_token_metadata
.vscode
.project

build
coverage
dist
screenshots
plato
typings
/ts/*manifest.txt
.cache

bower_components
node_modules
npm-debug.log
npm-shrinkwrap.json
build-deps.tar

test/ts/
test/e2e-protractor/reports
test/karma-unit-*
test/karma-watch.js
test/unit-test-results.html
test/unit-test-results.xml
.manifest-checksums
.last-refreshed

?
