#search {
    border: 4px solid #999;
    cursor: pointer;
    height: 30px;
    padding: 8px;
    width: 30px;  
    border-radius: 50px;
}
 
#search.searching {
    margin-left: 80px;
    width: 10px;
    
    -moz-transition: all .2s ease-in-out;  
    -webkit-transition: all .2s ease-in-out;
}
#search:hover {   
    border-color: #099ed9;
}
#search:focus {   
    border-color: #099ed9;
    background-color:grey;
    outline: none;
    width: 180px;
    
    -moz-transition: all .2s ease-in-out;  
    -webkit-transition: all .2s ease-in-out;
}
form {
    display: inline-block;
    margin: 0 100px;
    text-align: center;
    position: relative;
}

#title {
    color: white;
    font-size: 30px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 50px 100px 10px;
    
    -webkit-font-smoothing: antialiased;
}

body{
    background-color: #04b8ad
}